page-user-privacy-policy {
    .header{
        button{
            background: #fff;
        }
    }
    h3{
        font-weight: 700;
        margin-top: 0px;
    }
    h4{
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 0px;
    }
    p{
        margin-top:0px;
    }
}
