<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-grid no-padding padding-horizontal>
    <ion-row justify-content-center align-items-center>
      <ion-col col-6 (click)="closeMenu()">
        <ion-icon class="arrow-left">
          <img src="img/return-left.png" alt="">
        </ion-icon>
      </ion-col>
      <ion-col col-6>
        
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-header>

<ion-content class="section chat" #content>
    <!-- <ion-infinite-scroll position="top" threshold="1%" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
  <ion-list margin-top *ngIf="chatData" id="scroll_bottom">
    <ion-item *ngFor="let chat of chatData | orderBy:'id':'asc'" class="{{ (chat['user_id_from']==user['id'])?'user-from':'' }} item-md item-ios item-wp">
     
      <ion-avatar *ngIf="chat['user_id_from']!==user['id']" item-start float-left>
          <img src="img/avatar-3.png" *ngIf="!toImage">
          <img src="{{ toImage }}" *ngIf="toImage">
      </ion-avatar>
      <ion-avatar item-end *ngIf="chat['user_id_from']==user['id']">
          <img src="img/avatar-3.png" *ngIf="!fromImage">
          <img src="{{ fromImage }}" *ngIf="fromImage">
      </ion-avatar>
      <div class="talk-bubble tri-right {{ (chat['user_id_from']==user['id'])?'right-top':'left-top' }}">
        <div class="talktext">
          <p>{{ chat['message'] }}</p>
        </div>
        <div class="talk-timestamp">
          <p>{{ chat?.timestamp | date: 'yyyy-MM-dd HH:mm' }}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!chatData" margin-top>
    <ion-item>
      <h3>There is no chat.</h3>
    </ion-item>
  </ion-list>
</ion-content>
