<!--
  Generated template for the ViewReviewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="layout2">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          <ion-icon class="icon3">
              <img  src="img/chatboxes.png" alt="">
          </ion-icon>
          {{ "profile_mangement.p3" | translate }}</ion-title>
    </ion-navbar> 
  </ion-header>
<ion-content padding>    
    <ion-list class="comment-box" *ngIf="reviewLength > 0">
        <ion-item *ngFor="let review of arrReview">
            <ion-avatar item-start>
              <img [src]="review['user_image']" *ngIf="review['user_image']">
              <img src="img/avatar-3.png" *ngIf="!review['user_image']">
            </ion-avatar>
            <span class="name">{{ review['fname'] }}</span>
              <span class="rating" float-right>
                <ion-icon [name]="(review['ratings'] >= 1)?'star':'ios-star-outline'"></ion-icon>
                <ion-icon [name]="(review['ratings'] >= 2)?'star':'ios-star-outline'"></ion-icon>
                <ion-icon [name]="(review['ratings'] >= 3)?'star':'ios-star-outline'"></ion-icon>
                <ion-icon [name]="(review['ratings'] >= 4)?'star':'ios-star-outline'"></ion-icon>
                <ion-icon [name]="(review['ratings'] >= 5)?'star':'ios-star-outline'"></ion-icon>
              </span>
            <p>{{ review['review_text'] }}</p>
            <span class="date">{{ review['created_date'] }}</span>
      </ion-item> 
    </ion-list>
    <ion-list class="comment-box" *ngIf="reviewLength <= 0">
      <ion-item >
         <p>No one reviwed yet.</p>
    </ion-item> 
  </ion-list>
</ion-content>
