<!--
  Generated template for the WeekPayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-padding>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>      
  </ion-navbar>
</ion-header>


<ion-content class="section">  
<ion-grid>
    <ion-icon class="logo" text-center>
        <img src="img/logo.png" />
    </ion-icon>
  <ion-icon class="icon3">
      <img src="img/hand.png" /> 
  </ion-icon>    
  <h1>2nd Week Pay</h1>
  <div class="box-shadow" margin-top>
      <p>{{ "2_week_pay.p1" | translate }}</p>
  </div>
  </ion-grid>
  <ion-grid class="px-2" text-center padding-bottom>
  <div class="row header">
      <div class="col border-right action-col"></div>
      <div class="col border-right">
        <span class="border-bottom">Period</span>
      </div>
      <div class="col" text-center>         
        <span class="border-bottom">Total</span>
      </div>
  </div>
  <div *ngIf="dataDisplay!==undefined && dataDisplay.length > 0">
    <div *ngFor="let pay of dataDisplay">
      <div class="row" tappable (click)="showBreakdown(pay)">
        <div class="col action-col">
          <ion-icon *ngIf="!pay.showBreakdown" name="add" class="action-icon"></ion-icon>
          <ion-icon *ngIf="pay.showBreakdown" name="remove" class="action-icon"></ion-icon>
        </div>
        <div class="col">{{ pay.datePeriod }}</div>
        <div class="col">{{ pay.total }}kr</div>      
      </div>

      <div class="accordian-list" [ngClass]="{'show-accordian': pay.showBreakdown }">
        <div class="row">
          <div class="col border-right">
            <span class="border-bottom">Date</span>
          </div>
          <div class="col" text-center>         
            <span class="border-bottom">Total Earning</span>
          </div>
        </div>

        <div class="row" *ngFor="let breakdown of pay.breakdown">
          <div class="col">{{ breakdown.date }}</div>
          <div class="col">{{ breakdown.earning }}kr</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="weekPay!==undefined && weekPay.length <= 0">
    <div class="row">
      No Record Found
    </div>
  </div>
</ion-grid>
</ion-content>