page-hire-chef {
    .header-title{
        div{
            overflow: inherit!important;
        }
    }
    ion-content{
        &.section{
            .icon{
                color:#333;
            }
        }
        .content-title{
            text-align: center;
            margin-top: 70px;
        }        
        ion-list{
            background: white;
            margin-top: 30px;
            border:1px solid #c8c7cc;
            .item-md,
            .item-ios,
            .item-wp{
                textarea{
                    border:1px solid #dedede;
                    padding:5px;
                    min-height: 90px;
                }                
                &.comments{
                    .item-inner{
                        border:0px;
                    }
                    &.item-input{
                        &.input-has-focus{
                           .item-inner{
                               border:0px;
                               box-shadow:none;
                               textarea{
                                  border-color: #999;
                               }
                        }
                        }
                    }
                }
                
            }
            ion-list-header{
                &.step4{
                    ion-label{
                        white-space: unset;
                    }
                }
                .label-ios,
                .label-md,
                .label-wp{
                    text-overflow: initial;
                    white-space: initial;
                }
                margin-bottom: 0px!important;
                .item-inner{
                    .input-wrapper{
                        ion-label{
                            h3{
                                font-size: 1.3em;
                            }
                        }
                    }
                }
            }        
            .footer{
                button.back{
                    float: left;
                    height: 30px;
                    font-size: 1em;
                    width: 45%;
                }
                button.next{
                    float: right;
                    height: 30px;
                    font-size: 1em;
                    width: 45%;
                    background: #638fb5;
                }
                &.f-none{                   
                    button.back{                       
                        width:100%;
                    }
                    button.next{                        
                        width:100%;
                        margin-bottom:10px;
                    }
                }
            }
            .selectBox{
                ion-select{
                    max-width: 100%;
                    width:100%;
                }
            }
        }
        .item-md,
        .item-ios,
        .item-wp{
            &.item-input{
                &.input-has-focus{
                    .item-inner{
                        border-bottom-color: #999;
                    }
                }
            }
        }
        .item-md,
        .item-ios,
        .item-wp{
            &.pl-10{
                padding-left:10px;
            }           
        }
        .pr-0{
            padding-right:0px;
        }
        .pl-0{
            padding-left:0px;
        }
    }
    .list-header-ios,
    .list-header-wp,
    .list-header-md{ 
        padding: 0px;
        .label-ios,
        .label-md,
        .label-wp{
            text-overflow: initial;
            white-space: initial;
            margin: 0px;
            .icon-circle{
                img{
                    border-color:#fff;
                }
            }
            h3{
                background: #509ec0;        
                color:#fff; 
                padding: 11px 5px;
                text-align: center;
               }  
        }    
    }
    .list-ios,
    .list-md,
    .list-wp{
        &.layout2{       
            background: transparent;
            border:0px;     
            .list-header-ios,
            .list-header-wp,
            .list-header-md{ 
                padding: 0px;
                background: transparent;
                border:0px;
                .label-ios,
                .label-md,
                .label-wp{
                   h3{
                       padding-top:35px;
                       border-top-left-radius: 5px;
                       border-top-right-radius: 5px;
                   }
                }
                .icon-circle{
                    position: relative;
                    top:28px;
                }
            }
        }
    }
    .list-ios + .list-ios,
    .list-md + .list-md,
    .list-wp + .list-wp{
        background: #fff;
    }
    .icon-delete{
        position: absolute;
        bottom: 0;
        right: 13px;
        top: 4px;
        cursor: pointer;
        color:#f53d3d!important;
        height: 25px;
    }
    .couponcodeClass{
        border: 1px solid#ccc;
        padding: 5px;
    }
}
