page-booking-detail-chef {
    .booking_row{
        background-color: #c8c7cc;
        border: 1px solid #c8c7cc;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 9px;
        ion-col{
            h3{
                text-align: center;
                font-weight: bold;
            }
        }
    }
}
